src/main/mule/foreachpoc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="101eee32-7658-41e4-bde1-28bf594a70b0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="foreachpoc1Flow" doc:id="2c955657-16f7-4f2c-81be-74389433bf17" >
		<http:listener doc:name="Listener" doc:id="62e7d096-c1bf-44c3-a35a-4748dca93963" config-ref="HTTP_Listener_config" path="/each"/>
		<set-payload value="#[[2,5,7,9]]" doc:name="Set Payload" doc:id="03101773-3bdb-4998-b677-ccafe727378e" />
		<foreach doc:name="For Each" doc:id="6cb7a8b3-8599-4141-accc-58fe6bcfcc11" collection="#[payload]">
			<ee:transform doc:name="Transform Message" doc:id="0fb7385f-e6b5-43ff-8740-7b5b02aa121d" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload+10]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="6dc19603-c0a0-405f-a5a5-fd9fa47c6700" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="dfddbfe2-11a2-460b-8caf-3be4e3bcd6d6" message="#[payload]"/>
	</flow>
</mule>
